<div ng-app='fobo' ng-controller='BaseCtrl'>
	<h2>Helo Wordd</h2>	
	<ul>
		<li ng-repeat="thing in things">
			<span>{{thing.id}}</span>
			<span>|</span>
			<span>{{thing.text}}</span>
		</li>
	</ul>
</div>